<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio Muhammad Ibnu Setiawan</title>

    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Custom Icon -->
    <link href="../static/css/stylehome.css" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- custom js -->
    <script src="../static/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <a href="#" class="logo">Portofolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#blog">Blog</a>
            <a href="#sertifikat">Sertifikat achievement</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <!-- home selection -->
    <section class="home" id="home">
        <div class="home-content">
            <h2>Hallo Semua👋 ini Saya</h2>
            <h1>Muhammad Ibnu Setiawan</h1>
            <h3>And I'am a <span class="multiple-text"></span></h3>
            <p>Selamat Datang di portofolio saya! Di sini, Anda dapat menemukan berbagai pencapain,project kerja yang telah saya selesaikan. <br> jelajai hasil saya untuk gambaran tentang ketrampilan dan dedikasi saya di dunia IT. Terima Kasih Atas Kunjungannya! <br> Mari berteman dengan akun sosial Media saya dibawah ini</p>
            <div class="sosial-media">
                <a href="https://facebook.com/ibnu.setiawan.0"><i class='bx bxl-facebook'></i></a>
                <a href="https://instagram.com/ibnuusetyawan"><i class='bx bxl-instagram-alt'></i></a>
                <a href="https://Linkedin.com/muhammad-ibnu-setiawan-572b58283"><i class='bx bxl-linkedin'></i></a>
                <a href="https://youtube.com/@IbnusetyawanProjection"><i class='bx bxl-youtube'></i></a>
                <a href="https://wa.me/+6285526286531"><i class='bx bxl-whatsapp'></i></a>
            </div>
            <a href="https://drive.google.com/file/d/1HS8vX0VUJsvaOswmubQYtADLiO7wzc3v/view?usp=sharing" class="btn">Download CV</a>
        </div>

        <div class="home-img">
            <img src="static/png_20230806_121020_0000-removebg.png" alt="">
        </div>
    </section>

    <!-- about -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/inuu.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Tentang <span>Saya</span></h2>
            <h3>Junior Web Developer</h3>
            <p>
                Saya adalah mahasiswa D3 Teknologi Komputer Universitas Bina Sarana Informatika semester 4. Saya telah mempelajari berbagai aspek teknologi komputer seperti pemrograman, jaringan, sistem operasi, dan Desain Grafis. Saya memiliki pengalaman magang 6 bulan di Aldi Games Playstation, di mana saya mengelola server game, membantu pemain, dan menyelesaikan masalah teknis. Pengalaman ini menggabungkan teori dengan praktik dan membantu saya belajar, berkembang terhadap teknologi sekarang.</p>
                <P>Saat ini, saya juga mengikuti program MSIB Magang Studi Independen di Kampus Merdeka bersama LearningX.
                Program ini memungkinkan saya untuk mendapatkan pengalaman kerja yang lebih real-world dan memperdalam pengetahuan saya di bidang teknologi komputer. Saya yakin dengan kombinasi pendidikan formal, pengalaman magang, dan program MSIB, saya akan siap untuk memasuki dunia kerja dan memberikan kontribusi yang positif di bidang teknologi.</p>
            <a href="https://Linkedin.com/muhammad-ibnu-setiawan-572b58283" class="btn">Read More</a>
        </div>
    </section>

    <!-- servis -->
    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Junior Web Developer</h3>
                <p>Sebagai Seorang junior web saya cukup mahir mengunakan bahasa pemograman HTML,CSS & Java Script,saya juga telah mengembangan proyek kecil yang menunjukan kemampuan dalam menciptakan desain website yang responsive & menarik, saya slalu terbuka untuk belajar hall baru & berkolaborasi dengan tim menciptakan pengalaman web yang luar biasa</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bx-signal-5'></i>
                <h3>Junior Network</h3>
                <p>Dengan dilatar belakangi pendidikan Teknologi Komputer& sertifikasi yang relevan ,sebagai junior Network saya memiliki pengetahuan mendalam tentang jaringan ,kemampuan Merancang ,menconfigurasikan mengunakan cisco,Saya slalu bersemangat untuk belajar & percaya bahwa kualitas kerja tim saya akan menjadi nilai tambah dalam lingkungan kerja</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bxs-paint'></i>
                <h3>Juior Desain Graphic</h3>
                <p>Sebagai seorang Junior Desain , saya memiliki keahlian menciptakan desain visual yang menarik. dengan penguasan mengunakan Canva, Picsay pro & Adobe, saya telah menyelesaikan desain Logo ,Poster dan ilustrasi estetika yang unik, Saya slalu bersemngat untuk belajar dan berkembang dalam proyek tim yang menarik yang akan menghasilkan dampak visual yang luar biasa </p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <section class="blog" id="blog">
    <h2 class="heading">Bl<span>og</span></h2>

    <div class="blog-container">
        <div class="card">
          <div class="card__header">
            <img src="static/bolaa.jpeg" alt=""class="card__image">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Football</span>
            <h4 class="bos">Liga Divsi 2 Tegal</h4>
            <p>Menjadi pemain Inti dalam mewakili desa di ajang pertandingan Divisi 2 Tegal yang diadakan oleh PSSi di GOR Trisanja Tegal</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="static/ppp.jpg" alt="" class="user__image">
              <div class="user__info">
                <h5>IBNSTWN</h5>
                <small>2h ago</small>
                <span class="tag tag-blue" style="font-size: small;">Read More</span>
                <a href="#"><i class='bx bx-link-external' style="margin-right: 10px; font-size: 30px;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card__header">
                <img src="static/HIMATK.jpeg" alt=""class="card__image">
              </div>
          <div class="card__body">
            <span class="tag tag-brown">Teknologi</span>
            <h4>Organisasi HIMATK</h4>
            <p>bergabung dalam suatu Organisasi Himpunan mahasiswa Teknologi Komputer(HIMATK) Di Universitas Bina Sarana Informatika Periode Tahun 2023-2024</p>
          </div>
          <div class="card__footer">
            <div class="user">
                <img src="static/ppp.jpg" alt="" class="user__image">
                <div class="user__info">
                  <h5>IBNSTWN</h5>
                <small>Yesterday</small>
                <span class="tag tag-brown" style="font-size: small;">Read More</span>
                <a href="#"><i class='bx bx-link-external' style="margin-right: 10px; font-size: 30px;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card__header">
                <img src="static/PSHT.jpeg" alt=""class="card__image">
              </div>
          <div class="card__body">
            <span class="tag tag-red">SPORT BOX</span>
            <h4>PSHT</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          <div class="card__footer">
            <div class="user">
                <img src="static/ppp.jpg" alt="" class="user__image">
                <div class="user__info">
                  <h5>IBNSTWN</h5>
                <small>2d ago</small>
                <span class="tag tag-red" style="font-size: small;">Read More</span>
                <a href="#"><i class='bx bx-link-external' style="margin-right: 10px; font-size: 30px;"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="sertifikat" id="sertifikat">
        <h2 class="heading">Sertifikat & <span>achievement</span></h2>
    
            <div class="sertifikat-container">
                <div class="sertifikat-box">
                    <img src="static/JNA.jpg" alt="">
                    <div class="sertifikat-layer">
                        <h4>Junior Network</h4>
                        <p>Sertifikasi Junior Network Administrator yang diselenggarakan Oleh BPTIK Di cikarang .</p>
                        <a href="#"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
                <div class="sertifikat-box">
                    <img src="static/cnna.jpg" alt="">
                    <div class="sertifikat-layer">
                        <h4>Cisco CNNA</h4>
                        <p>Sertifikasi Cisco CNNAv7 .introduction to Networks.</p>
                        <a href="#"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
                <div class="sertifikat-box">
                    <img src="static/serkom.jpg" alt="">
                    <div class="sertifikat-layer">
                        <h4>Sertifikasi Komputer BNSP</h4>
                        <p> Mengikuti Sertifikasi Kompetensi Junior Network Administrator yang diselenggarakan Oleh BPTIK Di cikarang </p>
                        <a href="#"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
                <div class="sertifikat-box">
                    <img src="static/isoftware.jpg" alt="">
                    <div class="sertifikat-layer">
                        <h4>Basic Programing Software</h4>
                        <p>Sertifikat Kompetensi Dicoding For Univercity yang Diselengarakan Oleh Dicoding.</p>
                        <a href="#"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
            </div>
                
            </div>
    
        </section>



    <!-- Portofolio -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Portfolio & <span>Project</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/project.png" alt="">
                <div class="portfolio-layer">
                    <h4>Membuat Website</h4>
                    <p>Membuat website portfolio pribadi mengunakan HTML,CSS,JavaScript.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/magang.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Magang Operator Game</h4>
                    <p>Saya Magang di aldy Games Playstation sebagai Operator Selama 6 bulan.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/proyek.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Project Desain Grafis</h4>
                    <p>Beberapa Project Poster desain grafis lainya, saya buat mengunakan Canva Dan Piscay Pro</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/line folower.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Project Robot Line Folower</h4>
                    <p>Project line folower ini saya buat pada saat kuliah menggunakan arduino uno Tujuan nya Memperkuat kemampuan solder dan perakitan elektronik.
                        Mempelajari pemrograman mikrokontroler.
                        Meningkatkan kemampuan debugging dan troubleshooting.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/Control panel.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Project Control Panel Menggunakan Arduino uno</h4>
                    <p>Project Ini Saya buat bersama kelompok saya menggunakan arduino uno tujuan nya Memperkuat kemampuan solder dan perakitan elektronik.
                        Mempelajari pemrograman mikrokontroler.
                        Meningkatkan kemampuan debugging dan troubleshooting.</p>
                    <a href="#"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/projectsosmed.jpeg" alt="">
                <div class="portfolio-layer">
                    <h4>Website MSIB Mini Sosial Media</h4>
                    <p>website Mini Sosial Media Front End mengunakan Bosstrap , Bulma JavaScript dan Back End mengunakan Python Framerwork Flask dengan Datav=base Monggodb.</p>
                    <a href="https://ibnstwn-sosmedsite.glitch.me"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

        </div>
    </section>

    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>
    
        <form id="contactForm">
            <div class="input-box">
                <input type="text" id="fullName" name="fullName" placeholder="Full Name" required>
                <input type="email" id="emailAddress" name="email" placeholder="Email address" required>
            </div>
            <div class="input-box">
                <input type="number" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" required>
                <input type="text" id="Subject" name="Subject" placeholder="Subject" required>
            </div>
            <textarea id="message" name="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>

    <!-- footer design  -->
    <footer>
        <div class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2024 by Muhammad Ibnu Setiawan My First website.</p>
            </div>

            <div class="footer-iconTop">
                <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </div>
    </footer>

    <!-- scroll reveal -->

    <script>
        $(document).ready(function(){
            $('#contactForm').submit(function(e){
                e.preventDefault();
                var formData = {
                    fullName: $('#fullName').val(),
                    email: $('#emailAddress').val(),
                    mobileNumber: $('#mobileNumber').val(),
                    Subject: $('#Subject').val(),
                    message: $('#message').val()
                };
                
                $.ajax({
                    type: 'POST',
                    url: '/submit-form',
                    data: formData,
                    success: function(response){
                        if (response.success) {
                            Swal.fire({
                                title: 'Success!',
                                text: 'Message sent successfully!',
                                icon: 'success'
                            });
                            // Clear form fields if needed
                            $('#contactForm')[0].reset();
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Error: ' + response.error,
                                icon: 'error'
                            });
                        }
                    },
                    error: function(xhr, status, error){
                        Swal.fire({
                            title: 'Error!',
                            text: 'Error occurred while sending message.',
                            icon: 'error'
                        });
                        console.error(error);
                    }
                });
            });
        });
        </script>